version: '3.8'

services:
  server:
    build: .
    container_name: blog_server
    restart: always
    env_file:
      - .env
    environment:
      - PORT=3001
    ports:
      - "3001:3001"
    networks:
      - blog_network

networks:
  blog_network:
    driver: bridge
