version: '3.8'

services:
  server:
    build: .
    container_name: blog_server
    restart: always
    env_file:
      - .env
    environment:
      - PORT=3000
    ports:
      - "3000:3000"
    networks:
      - blog_network

networks:
  blog_network:
    driver: bridge
